:root {
  --bah-color-orange-100: rgba(254, 241, 234, 1);
  --bah-color-orange-200: rgba(253, 175, 131, 1);
  --bah-color-orange-300: rgba(254, 123, 53, 1);
  --bah-color-orange-400: rgba(220, 94, 5, 1);
  --bah-color-orange-500: rgba(187, 75, 0, 1);
  --bah-color-yellow-100: rgba(255, 245, 209, 1);
  --bah-color-yellow-200: rgba(241, 193, 4, 1);
  --bah-color-yellow-300: rgba(213, 163, 0, 1);
  --bah-color-yellow-400: rgba(158, 126, 0, 1);
  --bah-color-orange-600: rgba(129, 54, 3, 1);
  --bah-color-yellow-500: rgba(128, 101, 0, 1);
  --bah-color-yellow-600: rgba(95, 75, 0, 1);
  --bah-color-yellow-700: rgba(64, 49, 0, 1);
  --bah-color-purple-100: rgba(254, 236, 249, 1);
  --bah-color-purple-200: rgba(251, 168, 228, 1);
  --bah-color-purple-300: rgba(250, 109, 218, 1);
  --bah-color-purple-400: rgba(232, 34, 197, 1);
  --bah-color-white: rgba(255, 255, 255, 1);
  --bah-color-purple-500: rgba(176, 23, 149, 1);
  --bah-color-purple-600: rgba(142, 16, 120, 1);
  --bah-color-grey-200: rgba(242, 244, 247, 1);
  --bah-color-grey-300: rgba(207, 212, 218, 1);
  --bah-color-orange-700: rgba(86, 37, 3, 1);
  --bah-color-purple-700: rgba(97, 10, 81, 1);
  --bah-color-petrol-100: rgba(225, 248, 250, 1);
  --bah-color-petrol-200: rgba(108, 211, 217, 1);
  --bah-color-petrol-300: rgba(14, 181, 192, 1);
  --bah-color-petrol-400: rgba(9, 145, 154, 1);
  --bah-color-grey-400: rgba(164, 168, 173, 1);
  --bah-color-grey-500: rgba(116, 119, 122, 1);
  --bah-color-petrol-500: rgba(3, 120, 126, 1);
  --bah-color-grey-600: rgba(87, 90, 92, 1);
  --bah-color-petrol-600: rgba(4, 87, 93, 1);
  --bah-color-petrol-700: rgba(3, 58, 62, 1);
  --bah-color-blue-100: rgba(240, 243, 255, 1);
  --bah-color-blue-200: rgba(192, 203, 247, 1);
  --bah-color-red-100: rgba(255, 235, 235, 1);
  --bah-color-blue-300: rgba(138, 161, 243, 1);
  --bah-color-blue-400: rgba(78, 128, 239, 1);
  --bah-color-blue-500: rgba(50, 107, 212, 1);
  --bah-color-blue-600: rgba(34, 76, 155, 1);
  --bah-color-blue-700: rgba(22, 51, 106, 1);
  --bah-color-red-200: rgba(255, 169, 169, 1);
  --bah-color-red-300: rgba(255, 130, 130, 1);
  --bah-color-red-400: rgba(240, 57, 56, 1);
  --bah-color-red-500: rgba(196, 44, 44, 1);
  --bah-color-red-600: rgba(147, 30, 30, 1);
  --bah-color-red-700: rgba(101, 19, 18, 1);
  --bah-color-green-100: rgba(230, 250, 225, 1);
  --bah-color-grey-700: rgba(48, 50, 51, 1);
  --bah-color-green-200: rgba(137, 213, 118, 1);
  --bah-color-green-300: rgba(87, 182, 79, 1);
  --bah-color-green-400: rgba(50, 149, 43, 1);
  --bah-color-green-500: rgba(39, 121, 33, 1);
  --bah-color-green-600: rgba(27, 90, 22, 1);
  --bah-color-green-700: rgba(16, 60, 13, 1);
  --bah-color-black: rgba(0, 0, 0, 1);
  --bah-color-brand-secondary: rgba(180, 24, 33, 1);
  --bah-color-brand-primary: rgba(238, 31, 38, 1);
  --bah-radius-zero: 0;
  --bah-radius-xs: 2;
  --bah-radius-s: 4;
  --bah-radius-m: 8;
  --bah-radius-l: 16;
  --bah-radius-xl: 24;
  --bah-radius-2xl: 48;
  --bah-space-0: 0;
  --bah-radius-5xl: 120;
  --bah-space-025: 2;
  --bah-space-05: 4;
  --bah-space-1: 8;
  --bah-space-2: 16;
  --bah-space-3: 24;
  --bah-space-4: 32;
  --bah-space-5: 40;
  --bah-space-6: 48;
  --bah-space-7: 56;
  --bah-space-8: 64;
  --bah-space-10: 80;
  --bah-space-20: 160;
  --bah-width-025: 2;
  --bah-width-05: 4;
  --bah-opacity-3: 30;
  --bah-opacity-7: 70;
  --sur-primary-brand: rgba(238, 31, 38, 1);
  --sur-secondary-brand: rgba(180, 24, 33, 1);
  --sur-primary-neutral: rgba(255, 255, 255, 1);
  --sur-primary-invert: rgba(48, 50, 51, 1);
  --sur-primary-action: rgba(50, 107, 212, 1);
  --sur-primary-action-hover: rgba(34, 76, 155, 1);
  --sur-primary-action-pressed: rgba(22, 51, 106, 1);
  --sur-secondary: rgba(207, 212, 218, 1);
  --sur-secondary-action: rgba(207, 212, 218, 1);
  --sur-secondary-action-hover: rgba(164, 168, 173, 1);
  --sur-secondary-action-pressed: rgba(116, 119, 122, 1);
  --sur-secondary-action-active: rgba(48, 50, 51, 1);
  --sur-disabled: rgba(207, 212, 218, 1);
  --sur-error: rgba(255, 235, 235, 1);
  --sur-warning: rgba(255, 245, 209, 1);
  --sur-success: rgba(230, 250, 225, 1);
  --sur-info: rgba(242, 244, 247, 1);
  --sur-tertiary: rgba(242, 244, 247, 1);
  --bor-primary: rgba(164, 168, 173, 1);
  --bor-primary-hover: rgba(116, 119, 122, 1);
  --bor-primary-active: rgba(48, 50, 51, 1);
  --bor-secondary: rgba(48, 50, 51, 1);
  --bor-tertiary: rgba(207, 212, 218, 1);
  --bor-disabled: rgba(207, 212, 218, 1);
  --bor-brand: rgba(238, 31, 38, 1);
  --bor-invert: rgba(242, 244, 247, 1);
  --bor-highlight: rgba(50, 107, 212, 1);
  --bor-focus-primary: rgba(50, 107, 212, 1);
  --bor-focus-secondary: rgba(192, 203, 247, 1);
  --bah-bor-width-s: 2;
  --bor-error: rgba(196, 44, 44, 1);
  --bah-bor-width-m: 4;
  --bor-warning: rgba(128, 101, 0, 1);
  --txt-primary: rgba(48, 50, 51, 1);
  --txt-primary-action: rgba(50, 107, 212, 1);
  --txt-primary-action-hover: rgba(34, 76, 155, 1);
  --txt-invert: rgba(255, 255, 255, 1);
  --txt-secondary: rgba(116, 119, 122, 1);
  --txt-placeholder: rgba(164, 168, 173, 1);
  --txt-disabled: rgba(207, 212, 218, 1);
  --txt-link-default: rgba(50, 107, 212, 1);
  --txt-link-hover: rgba(34, 76, 155, 1);
  --txt-link-active: rgba(22, 51, 106, 1);
  --txt-brand: rgba(238, 31, 38, 1);
  --txt-focus: rgba(50, 107, 212, 1);
  --txt-success: rgba(39, 121, 33, 1);
  --txt-warning: rgba(128, 101, 0, 1);
  --txt-error: rgba(196, 44, 44, 1);
  --txt-info: rgba(116, 119, 122, 1);
  --ico-primary: rgba(48, 50, 51, 1);
  --ico-primary-action: rgba(50, 107, 212, 1);
  --ico-primary-action-hover: rgba(34, 76, 155, 1);
  --ico-secondary: rgba(116, 119, 122, 1);
  --ico-brand: rgba(238, 31, 38, 1);
  --ico-invert: rgba(255, 255, 255, 1);
  --ico-disabled: rgba(207, 212, 218, 1);
  --ico-placeholder: rgba(164, 168, 173, 1);
  --ico-error: rgba(196, 44, 44, 1);
  --ico-warning: rgba(158, 126, 0, 1);
  --ico-success: rgba(39, 121, 33, 1);
  --ico-info: rgba(48, 50, 51, 1);
  --ico-action: rgba(50, 107, 212, 1);
  --ico-action-hover: rgba(34, 76, 155, 1);
  --rad-primary: 8;
  --rad-none: 0;
  --rad-secondary: 4;
  --radius-full: 120;
  --radius-focus: 2;
  --pad-none: 0;
  --pad-xxs: 2;
  --pad-xs: 4;
  --pad-s: 8;
  --pad-m: 16;
  --pad-l: 24;
  --padding-xl: 32;
  --gap-none: 0;
  --gap-xxs: 2;
  --gap-xs: 4;
  --gap-s: 8;
  --gap-m: 16;
  --gap-l: 24;
  --gap-xl: 32;
  --gap-2xl: 40;
  --bah-opa-disabled: 30;
  --bah-opa-overlay: 70;
  --bor-success: rgba(39, 121, 33, 1);
}